<ng-container>
  <div *ngIf="root" class="layout-menuitem-root-text">{{item.label}}</div>

  <a [attr.href]="item.url" (click)="itemClick($event)" *ngIf="!item.routerLink || item.items"
    (mouseenter)="onMouseEnter()" (keydown.enter)="itemClick($any($event))" [attr.target]="item.target"
    [attr.tabindex]="0" [ngClass]="item.class" pRipple>
    <!-- <i [ngClass]="item.icon" class="layout-menuitem-icon"></i> -->
    <span>{{item.label}}</span>
    <i class="pi pi-fw pi-angle-down menuitem-toggle-icon" *ngIf="item.items"></i>
    <span class="menuitem-badge" *ngIf="item.badge">{{item.badge}}</span>
  </a>

  <a (click)="itemClick($event)" (mouseenter)="onMouseEnter()" *ngIf="item.routerLink && !item.items"
    [routerLink]="item.routerLink" routerLinkActive="active-menuitem-routerlink" [ngClass]="item.class" pRipple
    [routerLinkActiveOptions]="{exact: true}" [attr.target]="item.target" [attr.tabindex]="0">
    <!-- <i [ngClass]="item.icon" class="layout-menuitem-icon"></i> -->
    <span>{{item.label}}</span>
    <i class="pi pi-fw pi-angle-down menuitem-toggle-icon" *ngIf="item.items"></i>
    <span class="menuitem-badge" *ngIf="item.badge">{{item.badge}}</span>
  </a>

  <div class="submenu-arrow" *ngIf="item.items"></div>

  <ul *ngIf="(item.items && root) || (item.items && active) "
    [@children]="(root ? 'visible' :active ? 'visibleAnimated' : 'hiddenAnimated')">
    <ng-template ngFor let-child let-i="index" [ngForOf]="item.items">
      <li app-menuitem [item]="child" [index]="i" [parentKey]="key" [class]="child.badgeClass"
        [layoutSettings]="layoutSettings" (updateLayout)="updateLayout.next($event)"></li>
    </ng-template>
  </ul>

</ng-container>
