<form [ngrxFormState]="formState" class="mailGroupForm">
  <h4>
    <span>Choose Deliver Mail Group</span>
    <button class="txtBtn small customBtnReverse line setting">Setting</button>
  </h4>
  <div class="itemGroup bg">
    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.ownerIT.isInvalid &&
              formState.controls.ownerIT.isTouched
            )
          "
          >Owner IT</span
        >
        <p
          *ngIf="
            formState.controls.ownerIT.isInvalid &&
            formState.controls.ownerIT.isTouched
          "
        >
          "Owner IT" is required
        </p>
      </label>

      <p-autoComplete
        [ngrxFormControlState]="formState.controls.ownerIT"
        [suggestions]="mailGroup"
        (completeMethod)="filterMailGroup($event)"
        [dropdown]="true"
        placeholder="Select"
      >
        <ng-template let-custId pTemplate="item">
          <div class="custName-item">
            <div>{{ custId }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.mailTo.isInvalid &&
              formState.controls.mailTo.isTouched
            )
          "
          >Mail To</span
        >
        <p
          *ngIf="
            formState.controls.mailTo.isInvalid &&
            formState.controls.mailTo.isTouched
          "
        >
          "Mail To" is required
        </p>
      </label>

      <p-autoComplete
        [ngrxFormControlState]="formState.controls.mailTo"
        [suggestions]="mailGroup"
        (completeMethod)="filterMailGroup($event)"
        [dropdown]="true"
        placeholder="Select"
      >
        <ng-template let-custId pTemplate="item">
          <div class="custName-item">
            <div>{{ custId }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.ownerCoordinator.isInvalid &&
              formState.controls.ownerCoordinator.isTouched
            )
          "
          >Owner Coordinator</span
        >
        <p
          *ngIf="
            formState.controls.ownerCoordinator.isInvalid &&
            formState.controls.ownerCoordinator.isTouched
          "
        >
          "Owner Coordinator" is required
        </p>
      </label>

      <p-autoComplete
        [ngrxFormControlState]="formState.controls.ownerCoordinator"
        [suggestions]="mailGroup"
        (completeMethod)="filterMailGroup($event)"
        [dropdown]="true"
        placeholder="Select"
      >
        <ng-template let-custId pTemplate="item">
          <div class="custName-item">
            <div>{{ custId }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.loaderOwner.isInvalid &&
              formState.controls.loaderOwner.isTouched
            )
          "
          >Loader Owner</span
        >
        <p
          *ngIf="
            formState.controls.loaderOwner.isInvalid &&
            formState.controls.loaderOwner.isTouched
          "
        >
          "Loader Owner" is required
        </p>
      </label>

      <p-autoComplete
        [ngrxFormControlState]="formState.controls.loaderOwner"
        [suggestions]="mailGroup"
        (completeMethod)="filterMailGroup($event)"
        [dropdown]="true"
        placeholder="Select"
      >
        <ng-template let-custId pTemplate="item">
          <div class="custName-item">
            <div>{{ custId }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.mailCC.isInvalid &&
              formState.controls.mailCC.isTouched
            )
          "
          >Mail CC</span
        >
        <p
          *ngIf="
            formState.controls.mailCC.isInvalid &&
            formState.controls.mailCC.isTouched
          "
        >
          "Mail CC" is required
        </p>
      </label>

      <p-autoComplete
        [ngrxFormControlState]="formState.controls.mailCC"
        [suggestions]="mailGroup"
        (completeMethod)="filterMailGroup($event)"
        [dropdown]="true"
        placeholder="Select"
      >
        <ng-template let-custId pTemplate="item">
          <div class="custName-item">
            <div>{{ custId }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.mailBCC.isInvalid &&
              formState.controls.mailBCC.isTouched
            )
          "
          >Mail BCC</span
        >
        <p
          *ngIf="
            formState.controls.mailBCC.isInvalid &&
            formState.controls.mailBCC.isTouched
          "
        >
          "Mail BCC" is required
        </p>
      </label>

      <p-autoComplete
        [ngrxFormControlState]="formState.controls.mailBCC"
        [suggestions]="mailGroup"
        (completeMethod)="filterMailGroup($event)"
        [dropdown]="true"
        placeholder="Select"
      >
        <ng-template let-custId pTemplate="item">
          <div class="custName-item">
            <div>{{ custId }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.SAPOwner.isInvalid &&
              formState.controls.SAPOwner.isTouched
            )
          "
          >SAP Owner</span
        >
        <p
          *ngIf="
            formState.controls.SAPOwner.isInvalid &&
            formState.controls.SAPOwner.isTouched
          "
        >
          "SAP Owner" is required
        </p>
      </label>

      <p-autoComplete
        [ngrxFormControlState]="formState.controls.SAPOwner"
        [suggestions]="mailGroup"
        (completeMethod)="filterMailGroup($event)"
        [dropdown]="true"
        placeholder="Select"
      >
        <ng-template let-custId pTemplate="item">
          <div class="custName-item">
            <div>{{ custId }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.MESOwner.isInvalid &&
              formState.controls.MESOwner.isTouched
            )
          "
          >MES Owner</span
        >
        <p
          *ngIf="
            formState.controls.MESOwner.isInvalid &&
            formState.controls.MESOwner.isTouched
          "
        >
          "MES Owner" is required
        </p>
      </label>

      <p-autoComplete
        [ngrxFormControlState]="formState.controls.MESOwner"
        [suggestions]="mailGroup"
        (completeMethod)="filterMailGroup($event)"
        [dropdown]="true"
        placeholder="Select"
      >
        <ng-template let-custId pTemplate="item">
          <div class="custName-item">
            <div>{{ custId }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>
</form>
