<div class="singleJobSetting">
  <h4>Single Job Setting</h4>

  <p-tabView>
    <p-tabPanel *ngFor="let id of options; let index = index">
      <ng-template pTemplate="header">
        <span>Job 1</span>
        <button
          class="iconBtn small customBtnReverse delete"
          (click)="removeSingleJobSetting(id)"
        ></button>
      </ng-template>

      <ng-template pTemplate="content">
        <app-job-basic-info
          [formState]="formState.controls[index].controls.basicInfo"
        ></app-job-basic-info>

        <h4>Single Job Setting For DLL Condition</h4>
        <app-handsontable
          [hotId]="'jobDLLCondition' + index"
          [settings]="setting"
          triggerElName="reel-table-trigger"
          [ngrxFormControlState]="
            formState.controls[index].controls.dllCondition
          "
        ></app-handsontable>

        <app-choose-mailgrp
          [formState]="formState.controls[index].controls.mailGroup"
        ></app-choose-mailgrp>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="btnGroup">
          <button
            class="iconBtn small customBtn add"
            (click)="addSingleJobSetting()"
          ></button>
          <button class="iconBtn small customBtn copy"></button>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
