<div class="singleJobSetting">
  <h4>Single Job Setting</h4>
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate = "header">
        <span>Job 1</span>
        <button class="iconBtn small customBtnReverse delete"></button>
      </ng-template>

      <app-job-basic-info></app-job-basic-info>

      <h4>Single Job Setting For DLL Condition</h4>
      <app-handsontable [hotId]="'jobDLLCondition'" [settings]="setting"
      triggerElName="reel-table-trigger" [formGroup]="jobDLLCondition"></app-handsontable>

      <app-choose-mailgrp></app-choose-mailgrp>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate = "header">
        <div class="btnGroup">
          <button class="iconBtn small customBtn add"></button>
          <button class="iconBtn small customBtn copy"></button>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>

</div>
