<h3>Job Setting</h3>

<div class="fieldContent" *ngIf="jobSettingForm$ | async as formState">
  <div class="allJobSetting">
    <h4>All Jobs Setting For DLL Condition</h4>
    <app-handsontable
      [hotId]="'allJobDLLCondition'"
      [settings]="setting"
      triggerElName="reel-table-trigger"
      [ngrxFormControlState]="formState.controls.dllCondition"
    ></app-handsontable>
  </div>

  <app-single-job-field
    *ngIf="jobSettingForm$ | async as formState"
    [formState]="formState.controls.singleJobSetting"
    [options]="(singleJobOptions$ | async) || []"
    (addSingleJobSettingEvent)="onAddSingleJobSetting()"
    (removeSingleJobSettingEvent)="onRemoveSingleJobSetting($event)"
  ></app-single-job-field>
</div>
