
    <div class="jobSetting">
      <h3>Job  Setting</h3>

      <div class="fieldContent">
        <div class="allJobSetting">
          <h4>All Jobs Setting For DLL Condition</h4>
          <app-handsontable [hotId]="'allJobDLLCondition'" [settings]="setting"
          triggerElName="reel-table-trigger" [formGroup]="allJobDLLCondition"></app-handsontable>
        </div>


        <div class="singleJobSetting">
          <h4>Single Job Setting</h4>
          <p-tabView>
            <p-tabPanel>
              <ng-template pTemplate = "header">
                <span>Job 1</span>
                <button class="iconBtn small customBtnReverse delete"></button>
              </ng-template>
              <form [formGroup]="jobForm" class="jobFormBasicInfo">
                <h4>Basic Info</h4>
                <div class="itemGroup bg">
                  <div class="item">
                    <label for="" class="fieldRequired">
                      <span *ngIf="!(jobName?.invalid && jobName?.touched)">Job Name</span>
                      <p  *ngIf="jobName?.invalid && jobName?.touched">
                        "Job Name" is required
                      </p>
                    </label>
                    <input type="text" formControlName="jobName">
                  </div>
                  <div class="item">
                    <label for="" class="fieldRequired">
                      <span *ngIf="!(maxRetry?.invalid && maxRetry?.touched)">Max Retry</span>
                      <p  *ngIf="maxRetry?.invalid && maxRetry?.touched">
                        "Max Retry" is required
                      </p>
                    </label>
                    <input type="text" formControlName="maxRetry">
                  </div>
                  <div class="item">
                    <label for="" class="fieldRequired">
                      <span *ngIf="!(DLLSeq?.invalid && DLLSeq?.touched)">DLL Seq</span>
                      <p  *ngIf="DLLSeq?.invalid && DLLSeq?.touched">
                        "DLL Seq" is required
                      </p>
                    </label>
                    <p-autoComplete formControlName="DLLSeq" [suggestions]="DLLSeqs"
                      (completeMethod)="filterDLLSeqs($event)" [dropdown]="true" placeholder="Select">
                      <ng-template let-custId pTemplate="item">
                        <div class="custName-item">
                          <div>{{custId}}</div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                  </div>
                </div>
              </form>
              <h4>Single Job Setting For DLL Condition</h4>
              <app-handsontable [hotId]="'jobDLLCondition'" [settings]="setting"
              triggerElName="reel-table-trigger" [formGroup]="jobDLLCondition"></app-handsontable>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <div class="btnGroup">
                  <button class="iconBtn small customBtn add"></button>
                  <button class="iconBtn small customBtn copy"></button>
                </div>
              </ng-template>
            </p-tabPanel>
          </p-tabView>
        </div>

      </div>
    </div>

