<div class="transactionSetting">
  <h3>Transaction Setting</h3>
  <div class="fieldContent">
    <app-txn-basic-info
      *ngIf="settingFormState$ | async as formState"
      [formState]="formState"
    ></app-txn-basic-info>
    <app-frequency-setting-table
      *ngIf="FQSettingFormState$ | async as formState"
      [formState]="formState"
      [options]="(FQSettingOptions$ | async)!"
      (addFrequencySettingEvent)="onAddFrequencySetting()"
    ></app-frequency-setting-table>
  </div>
</div>
