<div class="transactionSetting">
  <h3>Transaction Setting</h3>
  <div class="fieldContent">
    <app-txn-basic-info
      *ngIf="settingFormState$ | async as formState"
      [formState]="formState"
    ></app-txn-basic-info>

    <app-frequency-setting-table
      *ngIf="fqSettingFormState$ | async as formState"
      [formState]="formState"
      [options]="(fqSettingOptions$ | async) || []"
      [showAccordions]="(fqSettingShowAccordions$ | async) || []"
      (addFqSettingEvent)="onAddFrequencySetting()"
      (removeFqSettingEvent)="onRemoveFrequencySetting($event)"
      (toggleFqAccordionEvent)="onToggleFqAccordion($event)"
    ></app-frequency-setting-table>

    <app-choose-module
      *ngIf="moduleFormState$ | async as formState"
      [formState]="formState"
      [options]="(chooseModuleOptions$ | async) || []"
      (addChooseModuleEvent)="onAddChooseModule($event)"
      (removeChooseModuleEvent)="onRemoveChooseModule($event)"
    ></app-choose-module>

    <app-choose-mailgrp
      *ngIf="mailGroupFormState$ | async as formState"
      [formState]="formState.controls[0]"
    ></app-choose-mailgrp>
  </div>
</div>
