<div
  class="transactionSetting"
  *ngIf="txnSettingFormState$ | async as formState"
>
  <h3>Transaction Setting</h3>
  <div class="fieldContent">
    <app-txn-basic-info
      [formState]="formState.controls.basicInfo"
      [formMode]="(formMode$ | async)!"
    ></app-txn-basic-info>

    <app-frequency-setting-table
      [formState]="formState.controls.frequencySettings"
      [options]="(fqOptions$ | async) || []"
      [showAccordions]="(fqShowAccordions$ | async) || []"
      (addFqSettingEvent)="onAddFrequencySetting()"
      (removeFqSettingEvent)="onRemoveFrequencySetting($event)"
      (toggleFqAccordionEvent)="onToggleFqAccordion($event)"
    ></app-frequency-setting-table>

    <app-choose-module
      [formState]="formState.controls.modules"
      [options]="(moduleOptions$ | async) || []"
      (addChooseModuleEvent)="onAddChooseModule($event)"
      (removeChooseModuleEvent)="onRemoveChooseModule($event)"
    ></app-choose-module>

    <app-choose-mailgrp
      [formState]="formState.controls.mailGroup"
    ></app-choose-mailgrp>
  </div>
</div>
