<form [ngrxFormState]="formState" class="frequencySetting">
  <h4>Frequency Setting</h4>
  <div class="bg">
    <div class="accordionGroup">
      <div class="accordionTool">
        <div class="itemGroup">
          <div class="item">
            <label for="" class="fieldRequired">
              <span>Last Tran Time</span>
            </label>
          </div>
          <div class="item">
            <label for="" class="fieldRequired">
              <span>Cron Expression</span>
            </label>
          </div>
          <div class="item">
            <button class="txtBtn small customBtn add">Generate Cron</button>
          </div>
        </div>
        <div class="btnGroup">
          <button
            class="iconBtn small customBtn add"
            (click)="addFrequencySetting()"
          ></button>
        </div>
      </div>

      <div *ngFor="let i of options; let index = index" class="accordionItem">
        <div
          class="accordionHeader"
          (click)="toggleAccordion(index)"
          [ngClass]="{ active: showAccordions[index] }"
        >
          <div class="itemGroup">
            <div class="item">
              <p-calendar
                dateFormat="yy/mm/dd"
                hourFormat="24"
                dataType="date"
                [showTime]="true"
                [showSeconds]="true"
                [ngrxFormControlState]="
                  formState.controls[i].controls.LastTranTime
                "
                [ngrxValueConverter]="dateValueConverter"
                [ngClass]="
                  formState.controls[i].controls.LastTranTime.isInvalid &&
                  formState.controls[i].controls.LastTranTime.isTouched
                    ? 'isInvalid'
                    : ''
                "
                (click)="$event.stopPropagation()"
              >
              </p-calendar>
            </div>
            <div class="item">
              <input
                type="text"
                placeholder="0 5 * ? * * *"
                [ngrxFormControlState]="
                  formState.controls[i].controls.CronExpression
                "
                [ngClass]="
                  formState.controls[i].controls.CronExpression.isInvalid &&
                  formState.controls[i].controls.CronExpression.isTouched
                    ? 'isInvalid'
                    : ''
                "
                (click)="$event.stopPropagation()"
              />
            </div>
          </div>
          <div class="btnGroup">
            <button class="iconBtn small customBtnReverse line remove"></button>
            <button class="iconBtn small customBtn copy"></button>
          </div>
        </div>
        <div class="accordionContent">
          <div class="itemGroup">
            <div class="item">
              <label for="">Time Zone ID</label>
              <p-autoComplete
                placeholder="Select"
                [suggestions]="timeZoneIds"
                [dropdown]="true"
                [ngrxFormControlState]="
                  formState.controls[i].controls.TimeZone!
                "
                (completeMethod)="filterTimeZone($event)"
              >
                <ng-template let-custId pTemplate="item">
                  <div class="custName-item">
                    <div>{{ custId }}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
            <div class="item">
              <label for="">Retry Times</label>
              <input
                type="number"
                placeholder="Numbers only"
                [ngrxFormControlState]="
                  formState.controls[i].controls.RetryTimes!
                "
              />
            </div>
            <div class="item">
              <label for="">Loader Buffer Time</label>
              <input
                type="number"
                placeholder="Numbers only"
                [ngrxFormControlState]="
                  formState.controls[i].controls.LoaderBufferTime!
                "
              />
            </div>
            <div class="item">
              <label for="">Back To Buffer Time</label>
              <input
                type="number"
                placeholder="Numbers only"
                [ngrxFormControlState]="
                  formState.controls[i].controls.BackToBufferTime!
                "
              />
            </div>
            <div class="item">
              <label for="">Shift Back To Loader Time</label>
              <input
                type="number"
                placeholder="Numbers only"
                [ngrxFormControlState]="
                  formState.controls[i].controls.ShiftBackToLoaderTime!
                "
              />
            </div>
          </div>
          <div class="itemGroup">
            <div class="item">
              <label for="">Start At</label>
              <p-calendar
                dateFormat="yy/mm/dd"
                [ngrxFormControlState]="formState.controls[i].controls.StartAt!"
                [ngrxValueConverter]="dateValueConverter"
              ></p-calendar>
            </div>
            <div class="item">
              <label for="">End At</label>
              <p-calendar
                dateFormat="yy/mm/dd"
                [ngrxFormControlState]="formState.controls[i].controls.EndAt!"
                [ngrxValueConverter]="dateValueConverter"
              ></p-calendar>
            </div>
            <div class="item">
              <p>Skip Over Due</p>
              <p-selectButton
                [options]="stateOptionsAccordion"
                [ngrxFormControlState]="
                  formState.controls[i].controls.SkipOverDue
                "
              ></p-selectButton>
            </div>
            <div class="item">
              <p>Skip All Over Due</p>
              <p-selectButton
                [options]="stateOptionsAccordion"
                [ngrxFormControlState]="
                  formState.controls[i].controls.SkipAllOverDue
                "
              ></p-selectButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
