.itemGroup .item{
  width: 100%;
}


:host ::ng-deep th,
:host ::ng-deep td{
  width: 120px;
}

:host ::ng-deep th:nth-child(-n+2),
:host ::ng-deep td:nth-child(-n+2){
  width: 55px;
}

:host ::ng-deep th:nth-child(5),
:host ::ng-deep td:nth-child(5){
  width: 200px;
}


:host ::ng-deep th:nth-child(6),
:host ::ng-deep td:nth-child(6){
  width: 140px;
}


