$gutter: 0.5rem; //for primeflex grid system

$topbarLeftGradientStartBgColor:#146fd7;
$topbarLeftGradientEndBgColor:#146fd7;
$topbarRightGradientStartBgColor:#146fd7;
$topbarRightGradientEndBgColor:#146fd7;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#007bff;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#007bff;
$badgeBgColor:#ffc107;
$badgeColor:#282b30;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#6aa5d8;
$darkMenuMenuitemActiveBgColor:#282b30;

$primaryColor: #F8BD0C !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff !default;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;


@import './assets/sass/layout/layout';
@import './assets/sass/theme/theme';

@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
