<form [ngrxFormState]="formState" class="jobFormBasicInfo">
  <h4>Basic Info</h4>
  <div class="itemGroup bg">
    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.jobName.isInvalid &&
              formState.controls.jobName.isTouched
            )
          "
          >Job Name</span
        >
        <p
          *ngIf="
            formState.controls.jobName.isInvalid &&
            formState.controls.jobName.isTouched
          "
        >
          "Job Name" is required
        </p>
      </label>
      <input type="text" [ngrxFormControlState]="formState.controls.jobName" />
    </div>
    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.maxRetry.isInvalid &&
              formState.controls.maxRetry.isTouched
            )
          "
          >Max Retry</span
        >
        <p
          *ngIf="
            formState.controls.maxRetry.isInvalid &&
            formState.controls.maxRetry.isTouched
          "
        >
          "Max Retry" is required
        </p>
      </label>
      <input type="text" [ngrxFormControlState]="formState.controls.maxRetry" />
    </div>
    <div class="item">
      <label for="" class="fieldRequired">
        <span
          *ngIf="
            !(
              formState.controls.DLLSeq.isInvalid &&
              formState.controls.DLLSeq.isTouched
            )
          "
          >DLL Seq</span
        >
        <p
          *ngIf="
            formState.controls.DLLSeq.isInvalid &&
            formState.controls.DLLSeq.isTouched
          "
        >
          "DLL Seq" is required
        </p>
      </label>
      <p-autoComplete
        [ngrxFormControlState]="formState.controls.DLLSeq"
        [suggestions]="DLLSeqs"
        (completeMethod)="filterDLLSeqs($event)"
        [dropdown]="true"
        placeholder="Select"
      >
        <ng-template let-custId pTemplate="item">
          <div class="custName-item">
            <div>{{ custId }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>
</form>
