<h3 class="text-center">Txn Create Form</h3>

<div class="d-flex justify-content-center">
  <form
    #formTxn="ngForm"
    [formGroup]="txnForm"
    (ngSubmit)="submit()"
    class="d-flex flex-column mr-3"
  >
    <label>
      Title:
      <input type="text" formControlName="title" />
    </label>
    <label>
      Content:
      <input type="text" formControlName="content" />
    </label>
    <label>
      ExecuteCount:
      <input type="number" formControlName="executeCount" />
    </label>
    <p *ngIf="errorMessage" class="text-danger">
      {{ errorMessage }}
    </p>
    <button type="submit" [disabled]="!formTxn.form.valid">Save</button>
  </form>

  <form
    #formTxn2="ngForm"
    [formGroup]="txnForm2"
    (ngSubmit)="submit2()"
    class="d-flex flex-column"
  >
    <label>
      Title:
      <input type="text" formControlName="title" />
    </label>
    <label>
      Content:
      <input type="text" formControlName="content" />
    </label>
    <label>
      ExecuteCount:
      <input type="number" formControlName="executeCount" />
    </label>
    <p *ngIf="errorMessage" class="text-danger">
      {{ errorMessage }}
    </p>
    <button type="submit" [disabled]="!formTxn2.form.valid">Save</button>
  </form>
</div>
