
@import '/src/assets/styles/variables.scss';

.title{
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}


h3{
  display: flex;
  align-items: center;
  text-align: center;
  color: $primary-medium;
  margin-bottom: 10px;
}

h3:before{
  content: '1';
  margin-right: 5px;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background: $primary-medium;
  color: $gray-100;
  font-size: 16px;
}

h4{
  margin-bottom: 5px;
}

input{
  background: $gray-100;
}


.transactionBasicInfo .itemGroup{
  padding: 15px;
  background: $gray-200;
}

.transactionBasicInfo .item:nth-child(-n+2){
  width: calc(50% - 35px / 2);
}


.transactionBasicInfo .item:nth-child(3){
  margin-left: 0;
}

.transactionBasicInfo .item:nth-last-child(-n+3){
  margin-top: 20px;
  width: calc(33.333333% - 70px / 3);
}


.bg{
  padding: 15px;
  background: $gray-200;
}

.accordionGroup label,
.accordionGroup p{
  margin-bottom: 0;
}

.accordionGroup label{
  width: 100%;
}

.accordionGroup{
  background: $gray-100;
  border: 1px solid #ced4da;
  box-shadow: $shadow-100;
}

.accordionGroup input,
:host ::ng-deep .accordionGroup .p-calendar .p-inputtext{
  padding: 5px 10px;
  border-radius: 5px;
}

:host ::ng-deep .accordionGroup .p-calendar .p-datepicker{
  min-width: 250px;
}

:host ::ng-deep .accordionGroup .p-datepicker table td{
  padding: 0;
}

:host ::ng-deep .p-calendar:after{
  font-size: 16px;
}


//#region accordionTool
.accordionTool{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.accordionTool .itemGroup:before{ //佔位空白
  content: '';
  display: block;
  width: 76px;
}

.accordionTool .itemGroup .item:first-child{
  width: 185px;
}

.accordionTool .itemGroup .item:nth-child(2){
  width: 120px;
}

.accordionTool .btnGroup button{
  margin: 0 15px;
}
//#endregion accordionTool


//#region accordionHeader
.accordionHeader{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
  background: $gray-100;
  border: 1px solid #ced4da;
  cursor: pointer;
}

.accordionHeader:before{//裝飾線
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  opacity: 0;
  background: $primary-medium;
  transition: .1s;
}

.accordionHeader .itemGroup:before{ //展開箭頭
  content: '\f054';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #888888;
  font-size: 12px;
  text-align: center;

  background: #FFF;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 15%);
  line-height: 25px;
  width: 25px;
  margin-left: 20px;

  position: relative;
  transform: rotate(0deg);
  transition: .5s;
}

.accordionHeader .itemGroup .item:first-child{
  margin-left: 30px;
  width: 185px;
}

.accordionHeader .itemGroup .item:last-child{
  width: 120px;
}

.accordionHeader .btnGroup{
  display: flex;
  opacity: 0;
}

.accordionHeader .btnGroup button{
  margin-right: 15px;
}

//#endregion accordionHeader


//#region accordionContent
.accordionContent{
  display: flex;
  justify-content: center;
  background: $gray-100;
}

.accordionContent .itemGroup{
  display: flex;
  margin: 0 20px;
  width: calc(50% - 80px / 2);
}

@media screen and (min-width:1024px){
  .accordionContent .itemGroup{
    margin: 0 80px;
    width: calc(50% - 320px / 2);
  }
}

.accordionContent .itemGroup:nth-child(2):before{//佔位空白
  content: '';
  display: block;
  width: 100%;
  height: 24px;
  margin-bottom: 5px;
}

.accordionContent .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 13px;
}


.accordionContent input{
  width: 50% ;
}

p-selectbutton{
  width: 50%;
}

:host ::ng-deep .accordionContent .p-selectbutton .p-button{
  padding: 5px;
}

:host ::ng-deep .accordionContent .p-button-label{
  font-size: 14px;
}

:host ::ng-deep .accordionContent .p-autocomplete .p-inputtext{
  padding: 5px 10px;
  min-width: 160px;
  border-radius: 5px 0 0 5px;
}

.accordionContent input,
:host ::ng-deep .accordionContent .p-autocomplete .p-inputtext{
  font-size: 12px;
}

:host ::ng-deep .accordionContent .p-button.p-button-icon-only{
  padding: 5px;
  width: 30px;
  border-radius: 0 5px 5px 0;
}




.accordionContent .item + .item{
  margin-left: 0;
  margin-top: 5px;
}


//#endregion accordionContent





.accordionContent{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}

.accordionHeader.active ~ .accordionContent{
  max-height: 100vh;
  overflow: visible;
  opacity: 1;
  padding: 25px 0;
}

.accordionHeader.active,
.accordionHeader:hover{
  border-color: $primary-medium;
 background: $gray-200;
}

.accordionHeader.active:before,
.accordionHeader:hover:before,
.accordionHeader.active .btnGroup,
.accordionHeader:hover .btnGroup{
  opacity: 1;
}

.accordionHeader.active .itemGroup:before{ //展開箭頭
  transform: rotate(90deg);
  color: $gray-100;
  background: $primary-medium;
}
